{% extends 'base.html' %}

{% block style %}
<style>
.package {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 40px 40px 100px;
  border-top: 1px solid;
}
</style>
{% endblock %}

{% block content %}
<div class="package">
  <div class="package-name">Name</div>
  <div class="">Repo</div>
  <div class="package-homepage">Homepage</div>
  <div class="">Issues</div>
  <div class="">PR</div>
  <div class="package-license">License</div>
</div>
{% for package in package_list %}
{% include 'gepetto_packages/package.html' with package=package %}
{% endfor %}
{% endblock %}
