{% extends 'base.html' %}

{% block content %}
<table class="table">
  <tr>
    <th>Package</th>
    <th>URL</th>
    <th>Licence</th>
  </tr>
  {% for package in package_list %}
  <tr>
    <td>{{ package }}</td>
    <td>{% if package.homepage %}<a href="{{ package.homepage }}">{{ package.domain }}</a>{% endif %}</td>
    <td>{{ package.license }}</td>
  </tr>
  {% for repo in package.repo_set.all %}
  <tr>
    <td></td>
    <td><a href="{{ repo.url }}">{{ repo.get_origin_display }}</td>
    <td>{{ repo.license }}</td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{% endblock %}
